* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .column img {
      width: 100% !important;
      position: relative;

  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  .column {
    padding: 5px;
  }
  img-item{
    float: left;
    width: 33.33%;
    padding: 10px;
    position: relative;
}
